$darkCyan: hsl(185, 75%, 39%);
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
  background-color: $darkCyan;
}
